runs/
__pycache__/
*.pt
*.pth
venv
yolo_models_results/
model_comparison/
commands.txt
references.txt
datasets/
results/
results-300/
faster_rcnn_results/
ssd_results/
retinanet_results/
new_results/
result_images/
potholes/
correct_results/
yolo26_optimizer_results/